body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
   }
   
   .container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   }
   
   h1 {
    text-align: center;
    color: #666;
   }
   
   label {
    display: block;
    margin-bottom: 10px;
   }
   
   input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
   }
   
   button[type="submit"] {
    background-color: #8bc34a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   }
   
   button[type="submit"]:hover {
    background-color: #7cb342;
   }